.filter-tags {
    display: flex;
    gap: 20px;
    .filter-tag {
        padding: 15px 30px;
    }
    .dropdown-item {
        cursor: pointer;
        color: white !important;
        &:hover {
            color: white !important;
            background-color: unset;
        }
    }
    .ingredient {
        background-color: #0069d9;
    }

    .appareil {
        background-color: #218838;
    }
    .ustensiles {
        background-color: #c82333;
    }
}
