header {
    .container {
        text-align: center;
        h1 {
            color: #d04f4f;
            font-family: DM Sans;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
        }
    }
}
